* {
    font-family: 'Roboto';
}

/* Header */
.header {

    /* background-color: #EDEDD5; */
    background-color: #f9f9f9;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid #01B114;
    margin-bottom: -2px;

}

.header .nav-link.active::after {
    content: '';
    display: block;
    border-bottom: 2px solid #01B114;
    margin-bottom: -2px;

}

.header .nav-link {
    color: #01B114 !important;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin: 0 10px;
}


/* main */
.hero-banner {
    height: 550px;
    background-color: #f9f9f9;
    /* background-color: #F9F6F6; */
    position: relative;
}

.hero-banner-wrapper {
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 80px;
}

.hero-banner-title {
    font-size: 45px;
    text-transform: uppercase;
    max-width: 500px;
    color: #01B114;
}

.hero-banner-title span {
    font-weight: 700 !important;
}

.hero-banner-description {
    margin-top: 20px;
}

.btn-selengkapnya {
    border: 3px solid #01B114;
    padding: 10px;
    margin-right: 20px;
    transition: 0.2s;
    overflow: none;
}


.btn-selengkapnya:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(128, 125, 125, 0.2),
        0 6px 20px 0 rgb(170, 166, 166);
}

.btn-daftar {
    border: 3px solid #01B114;
    background-color: #01B114;
    color: #ffff;
    padding: 10px;
    transition: 0.2s;
}

.btn-daftar:hover {
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(128, 125, 125, 0.2),
        0 6px 20px 0 rgb(170, 166, 166);
    transform: scale(1.1);
}

.hero-banner-image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}


.hero-banner-image img {
    max-width: 65%;
}


/* Second Section */
.second-section {
    /* background-color: #EDEDD5; */
    background: url('../img/Frame 3.png');
}

.second-section-title h2 {
    text-transform: uppercase;
    text-align: center;
    color: #01B114;
    font-weight: 600 !important;
}

.second-section-img {
    margin: 50px 0;
}

.second-section-img img {
    width: 80%;
}

.second-section-btn {
    display: flex;
}

.second-section-btn a {
    text-transform: uppercase;
    background-color: #01B114;
    color: white;
    margin: auto;
    width: 80%;
    padding: 5px auto;
    transition: 0.5s;
}

.second-section-btn a:hover {
    color: #ffff;
    opacity: 70%;
    transform: scale(1.07);
}

.item-reasons {
    background-color: #ffff;
    padding: 8px 15px;
    margin: 15px auto;
    width: 80%;
    transition: 0.5s;
}

.item-reasons:hover {
    transform: scale(1.07);
}

.item-reasons img {
    height: 35px;
    width: 40px;
}

.item-reasons p {
    font-size: 20px;
    margin: auto 10px;

}

/* Third Section*/

.third-section {
    height: fit-content;
    background-color: #f9f9f9;
}

.third-section .row {
    margin: 30px 0 0;
}

.fourteen-fitur {
    padding: 8px 15px;
    margin: 15px auto;
    transition: 0.5s;
    background-color: white;
}

.fourteen-fitur:hover {
    background: linear-gradient(#01B114, #02640c);
    transform: scale(1.07);
}

.fourteen-fitur:hover span,
.fourteen-fitur:hover p {
    color: #FFFF;
}

.fourteen-fitur span {
    font-size: 30px;
    color: #01B114;
    width: 30px;
}

.fourteen-fitur p {
    font-size: 20px;
    margin: 10px;
    text-align: right;

}

.fitur-phone {
    padding: 0 50px 50px 50px;
}


.third-section-text .span-1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #01B114;
}

.third-section-text .span-2 {
    font-size: 16px;
    color: rgb(172, 170, 170);
}

.third-section-text .span-3 {
    display: block;
    font-size: 20px;
}

.third-section-img {
    justify-content: center;
}

/* Fourth Section */

.fourth-section {
    background-color: #EDEDD5;
    padding: 50px;
}

.fourth-section ul {
    list-style-type: none;
    padding-right: 25px;

}

.fourth-section ul li {
    margin: 40px 0;
    text-transform: uppercase;
    text-align: right;
    font-size: 20px;
}

.fourth-section ul li:hover,
.fourth-section ul .active {
    font-weight: 700;
    text-shadow: 5px 5px 10px black;
    cursor: pointer;
}

.fourth-section .list-result-2,
.fourth-section .list-result-3,
.fourth-section .list-result-4,
.fourth-section .list-result-5 {
    display: none;
}

.fourth-section img,
.fourth-section iframe {
    height: 350px !important;
}

.fourth-section-side {
    border-right: 2px solid #cecdcb;
}

.fourth-section-title h2,
.third-section-title h2 {
    color: #01B114;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600 !important;
}

.fourth-section-content {
    margin: 30px 0;
}

.fourth-section-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 100px 30px;
}

.fourth-section-video iframe {
    width: 70%;
    height: 350px;
}


/* Fifth Section */
.fifth-section {
    background: linear-gradient(rgba(15, 15, 15, 0.753), rgba(19, 18, 18, 0.753)),
        url('../img/back.jpg');
    background-size: cover;
    background-position: center;
    margin: auto 0;
    padding: 50px;
    color: #FFFF;
}

.fifth-section:before {
    opacity: 0.5;
}

.fifth-section-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 0 15px 20px;
}

.btn-wa {
    background-color: #01B114;
    color: #FFFF;
    padding: 10px 30px;
    display: flex;
    margin: 0 auto;
    transition: 0.5s;
}

.btn-wa:hover {
    color: #ffff;
    transform: scale(1.07);
    box-shadow: 0 4px 8px 0 rgba(128, 125, 125, 0.2),
        0 6px 20px 0 rgb(170, 166, 166)
}

/* Sixth Section */

.sixth-section {
    padding: 50px;
}

.sixth-section-title {
    color: #01B114;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 0 10px 20px;
}

.pesantren-logos {
    width: 900px;
    margin: 0 auto 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.pesantren-logo img {
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 55px;
    max-width: 55px;
    box-shadow: 0 8px 8px 0 rgba(128, 125, 125, 0.2)
}

.pesantren-logo {
    margin: 10px 20px;
    transition: 0.5s;

}

.pesantren-logo:hover {
    transform: scale(1.1);
}

.btn-more {
    background-color: #01B114;
    color: #FFFF;
    padding: 10px 30px;
    display: flex;
    margin: 0 auto;
    transition: 0.5s;
}

.btn-more:hover {
    color: #ffff;
    transform: scale(1.07);
    box-shadow: 0 4px 8px 0 rgba(128, 125, 125, 0.2),
        0 6px 20px 0 rgb(24, 23, 23)
}

/* footer */

.footer {
    background-color: #EDEDD5;
    color: #000000;
    padding: 50px 10px 10px;
    height: fit-content;
}

.footer-main {
    margin-bottom: 50px;
}

.text-about-footer {
    margin-top: 20px;
}

.social-icons {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social-icons .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    font-size: 18px;
    text-align: center;
    color: #000000;
    line-height: 38px;
    border: 2px solid #01B114;
    border-radius: 50%;
}

.social-icon:hover {
    background-color: #01B114;
    color: #FFF;
}

.module-contact-info {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.module-contact-info li {
    margin: 10px 0;
}

.module-contact-info li i {
    float: left;
    margin-right: 8px;
    width: 16px;
    font-size: 14px;
}

.module-contact-info li span {
    display: block;
    overflow: hidden;
}

.module-contact-info li span a {
    text-decoration: none;
    color: #000000;
}

.footer-copy {
    text-transform: uppercase;
    font-size: 12px;
    border-top: 1px solid rgba(180, 180, 180, 0.57);
    padding: 15px 0;
}

@media (max-width: 1000px) {
    .fitur-phone {
        display: none;
    }

    .fourteen-fitur {
        /* display: flex; */
        flex-direction: row !important;
        margin: 10px !important;
    }
}

/* MOBILE VERSION */
@media (max-width: 767.98px) {

    /* Header */
    .header .nav-link:hover::after {
        border: none;
    }

    /* banner */
    .hero-banner-wrapper {
        margin-top: 30px;
        margin-left: 35px;
    }

    .hero-banner-title {
        font-size: 30px;
        width: 90%;
    }

    .hero-banner-btn {
        flex-direction: column;
        margin: 20px;
        padding: 5px;
    }

    .hero-banner-btn .btn {
        width: 180px;
        margin: 10px;
    }

    .hero-banner-image img {
        max-width: 90%;
    }

    /* Second Section */
    .item-reasons p {
        font-size: 14px;
    }

    /* Third Section */
    .third-section-text {
        text-align: center;
    }

    .fourteen-fitur {
        /* display: flex; */
        flex-direction: row !important;
        margin: 10px !important;
    }

    .fourteen-fitur p {
        font-size: 14px;
    }

    .fitur-phone {
        display: none;
    }

    .third-section-img {
        width: 80%;
        margin: 20px auto;
    }

    .third-section-text .span-1 {
        font-size: 20px;
    }

    .third-section-text .span-2 {
        font-size: 12px;
    }

    .third-section-text .span-3 {
        font-size: 14px;
    }

    /* Fourth Section */
    .fourth-section-title h2 {
        font-size: 20px !important;
    }

    .fourth-section-subtitle {
        font-size: 14px;
        margin: 10px 0 30px;
    }

    .fourth-section-video iframe {
        width: 100%;
    }

    .fourth-section ul li {
        text-align: center;
        font-size: 14px;
        margin: 20px 0;
    }

    .fourth-section img,
    .fourth-section iframe {
        height: auto;
        max-width: 200px;
    }

    .fourth-section-side {
        border-right: none;
    }

    /* Fifth Section */

    .fifth-section-title {
        font-size: 20px !important;
    }

    .fifth-section p {
        font-size: 14px;
    }

    /* Sixth Section */

    .sixth-section-title {
        font-size: 20px !important;
    }

    .sixth-section {
        padding: 20px;
    }

    .pesantren-logo {
        margin: 10px;

    }

    .pesantren-logos {
        width: 100%;
        margin: auto;
    }

    /* Footer */
    .footer {
        padding: 50px 10px 0px;
    }

    .textwidget {
        margin-bottom: 20px;
    }

    .social-title {
        display: none;
    }

    .social-icons {
        margin-bottom: 20px;
    }

    .footer-copy {
        text-transform: uppercase;
        font-size: 12px;
        border-top: 1px solid rgba(17, 17, 17, 0.15);
        padding: 0;
    }

}



@media (min-width: 1540px) {
    .hero-banner-title {
        max-width: 100%;
    }

    .hero-banner-description p {
        font-size: 1.5rem;
    }

    .btn-selengkapnya,
    .btn-daftar {
        font-size: 18px;
    }
}